.books {
  font-size: 18px;
}
.books__title, .books__image, .books__author_names, .books__author_lastname, .books__author_firstname {
  width: 100%;
  height: 40px;
  padding: 0 10px 0 10px;
}
.books__author_names {
  background-color: white;
}
.books__comment {
  width: 100%;
  padding: 10px;
}
