.sub_header--item span {
  border-bottom: solid 1px #eee;
  padding-bottom: 10px;
}
.sub_header--button {
  margin-top: 20px;
}
.sub_header .applying, .sub_header .toBorrow, .sub_header .borrowing, .sub_header .borrowed {
  display: none;
}
.profile {
  font-size: 18px;
}
.profile__items {
  list-style: none;
}
.profile__items li div {
  padding: 15px 0 15px 0;
}
.profile__items--item {
  font-weight: bold;
}
.nav.nav-pills {
  padding-bottom: 10px;
}
.nav.nav-pills li {
  cursor: pointer;
}
